html {
    height: 100%;
}

body {
    background: linear-gradient(#141e30, #243b55);
    color: white;
    text-align: center;
    /*overflow: hidden;*/
}

.navbar-custom {
    background-color: rgba(0, 0, 0, .5);
}

.raise {
    --color: #ffa260;
    --hover: #e5ff60;
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

button {
    color: var(--color);
    transition: 0.25s;
}

button:hover, button:focus {
    border-color: var(--hover);
    color: #fff;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}