<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Value Generator</title>
    <link rel="stylesheet" href="../static/gen.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/jpg" href="../static/img/Ball%207%20Stars.ico"/>
</head>

<body>

<nav class="navbar navbar-dark navbar-custom">
    <div class="container-fluid">
        <button  onclick="location.href='/'" type="button" class="btn btn-outline-info"><i class="fa fa-home"></i> Home</button>
        <button  onclick="location.href='https://wa.me/917981186029'" type="button" class="btn btn-outline-info"><i class="fa fa-comments"></i> Contact Dev</button>
    </div>
</nav>

<div class="login-box">
    <h1>Enter Values</h1>
    <form id="my_form" action="/result" method="post">
        <div class="user-box">
            <input autocomplete="off" type="text" id="entry" name="entry">
            <label>Range Point A</label>
        </div>
        <div class="user-box">
            <input autocomplete="off" type="text" id="end" name="end">
            <label>Range Point B</label>
        </div>
        <div class="user-box">
            <input autocomplete="off" type="text" id="Num" name="Num">
            <label>N Number of Data</label>
        </div>
        <a href="javascript:{}" onclick="document.getElementById('my_form').submit();">
            Submit
        </a>
    </form>
</div>

<div class="result">
    <br>
    <h2>Result: </h2>
    <hr>
    <textarea cols="80" rows="13" id="aboutDescription">
        {% for your_list_element in your_list %}
            {{ your_list_element }}
        {% endfor -%}
    </textarea>
    <br>
    <hr>
    <button onclick="copy()" type="button" class="btn btn-outline-light btn-sm">Copy To ClipBoard</button>


</div>


</body>
<script>
    document.addEventListener('contextmenu', event => event.preventDefault());

    function copy() {
        let textarea = document.getElementById("aboutDescription");
        textarea.select();
        document.execCommand("copy");
    }
</script>
</html>
