<style>
* {

    text-align: center;
}
</style>
<br>
    <br>
<p>Hello There🙋‍♂️. After You Enter your values and submit. Simply Ctrl+C here and Ctrl+V on your Excel :)</p>
<form action="/attack" method="post">

    <hr>
  <label for="fname">Enter Your Range Entry:</label><br>
  <input type="text" id="entry" name="entry"><br><br>

  <label for="lname">Enter Your Range End: </label><br>
  <input type="text" id="end" name="end"><br><br>

  <label for="fname">Enter N Number of Data to Generate: </label><br>
  <input type="text" id="Num" name="Num"><br><br><br>

  <input type="submit" value="Submit">
    <hr>
</form>
