<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Productivity Booster🚀</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/goku.css">
    <link rel="shortcut icon" type="image/jpg" href="../static/img/Dragonball-Goku.ico" />

</head>

<body>
    <nav class="navbar navbar-dark navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="https://wa.me/917981186029">Contact Dev</a>
        </div>
    </nav>


    <div id="wrapper">
        <div id="goku">
            <div class="head"></div>
            <div class="body"></div>
            <div class="leg"></div>
            <div class="shadow"></div>
        </div>
    </div>
    <div class="centered">
        <p> Applications: </p>
        <button class="raise" onclick="location.href='/Random-Generator'">Value Generator</button>
        <button class="raise" onclick="location.href='https://codebeautify.org/generate-random-time'">Time
            Generator</button>
    </div>
</body>

</html>